@import "cssReset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*,*::before,*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Noto Sans TC", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}